/*DOCUMENT*/
html, body {
  overflow-x: hidden;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
}

h1 {font-size: 36px;}
h2 {font-size: 28px;}
h3 {font-size: 20px;}
h4 {font-size: 16px;}
h5 {font-size: 16px;}
p {font-size: 18px;}

@media screen and (min-width: 992px) {
  h1 {font-size: 52px;}
  h2 {font-size: 36px;}
  h3 {font-size: 24px;}
}

/*GRID*/
.container {
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container::before
.container::after {
  content: " ";
  display: table;
}

.container::after {
  clear: both;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

/*For mobile phones:*/
[class*="col-"] {width: 100%;}

/*Large devices (large desktops, 992px and up)*/
@media screen and (min-width: 992px) {
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}


/*STYLES*/
/*HEADER*/
header {
  color: #FFFFFF;
  background: linear-gradient(180deg, #62B2E2 0%, #AA7DE4 100%);
  max-height: 1024px;
  overflow-y: hidden;
}

.header-logo {
  margin: 10px;
}

header nav div {
  display: inline;
  text-align: right;
  float: right;
}

.nav div > a {
  display: inline-block;
  text-decoration: none;
  color: #FFFFFF;
}

.log-in {
  font-size: 18px;
  font-weight: 700;
}

.sign-up {
  font-size: 18px;
  padding: 12px 16px;
  border: 2px solid #FFFFFF;
}

@media screen and (max-width: 991px) {
  nav {
    padding: 1em 0 0;
  }

  .header-logo {
    width: 48px;
  }

  .nav div > a {
    margin: 10px;
  }

  .hero-btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  nav {
    padding: 1em 10% 0;
  }

  header nav div > a {
    margin: 20px;
  }

  .hero-btn {
    font-size: 18px;
  }
}


/*HERO*/
.hero {
  text-align: center;
  display: block;
  position: relative;
}

.hero h1 {
  font-weight: 300;
  padding: 1em 0 0;
  /*For thinner font*/
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.hero p {
  font-weight: 300;
  line-height: 28px;
  margin: 20px 0 40px;
}

.hero-btn {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  color: #FFFFFF;
  background: #EE3A85;
  padding: 14px 24px;
}

.hero img {
  display: block;
  max-width: 1600px;
  margin: 1em auto 0;
}


/*FEATURES*/
.features {
  height: auto;
  color: #50596B;
}

.features div h2 {
  font-weight: 300;
}

.features div p {
  font-weight: 300;
  line-height: 28px;
}

@media screen and (max-width: 991px) {
  .features {
    text-align: center;
  }

  .features div h2 {
    margin-top: 40px;
  }

  .notes img, .images img {
    margin: -40px 0 40px;
  }

  .links img {
    margin: -40px 0 0px;
  }

  .note-bg {
    display: none;
  }

  .images-bg {
    display: none;
  }

  .link-bg {
    display: none;
  }
}

@media screen and (min-width: 992px) {
  .ft-box {
    display: flex;
    width: auto;
    margin: 0 auto;
  }

  .notes, .links {
    display: flex;
    height: 700px;
  }

  .images {
    display: flex;
    height: 700px;
  }

  .note-text, .link-text {
    max-width: 360px;
    margin: auto;
  }

  .image-text {
    order: 2;
    max-width: 360px;
    margin: auto;
  }

  .notes img, .links img {
    max-width: 1000px;
    margin: auto -50px auto auto;
  }

  .images img {
    order: 1;
    max-width: 1000px;
    margin: auto auto auto -50px;
  }

  .note-bg {
    position: absolute;
    z-index: -1;
    padding-top: 220px;
    padding-left: 50%;
    left: -320px;
  }

  .images-bg {
    position: absolute;
    z-index: -1;
    padding-top: 360px;
    padding-left: 50%;
  }

  .link-bg {
    position: absolute;
    z-index: -1;
    padding-top: 280px;
    padding-left: 50%;
    left: -320px;
  }
}


/*PRICING*/
.pricing {
  text-align: center;
  color: #50596B;
  background-color: #F5F6FA;
  height: auto;
  margin-top: 2em;
  padding: 50px 0 80px;
}

.pricing-title h2 {
  font-weight: 300;
}

.pricing-title p {
  font-weight: 300;
  line-height: 28px;
  width: auto;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.pricing ul {
  list-style: none;
}

.pricing hr {
  height: 2px;
  margin-top: 20px;
}

.beginner h3, .explorer h3, .professional h3 {
  font-weight: 300;
  margin: 20px 0 0;
}

.beginner p {
  font-size: 16px;
  color: #2DCFF0;
  margin-top: 20px;
}

.explorer p {
  font-size: 16px;
  color: #4C85FF;
  margin-top: 20px;
}

.professional p {
  font-size: 16px;
  color: #5E44BC;
  margin-top: 20px;
}

.price-free, .price-paid {
  font-size: 36px;
  font-weight: 500;
}

.pr-btn {
  text-decoration: none;
  color: #50596B;
  font-weight: bold;
  border: 3px solid #EE3A85;
  padding: 10px 40px;
}

@media screen and (max-width: 991px) {
  .pricing-title {
    margin: 0 10px;
  }

  .pr-box {
    height: auto;
    margin: 4em 2em 0;
  }

  .pr-box ul {
    list-style: none;
    line-height: 36px;
    margin-top: 40px;
    padding: 0;
  }

  .price-free, .price-paid {
    line-height: 100px;
  }

  .professional {
    margin-bottom: 4em;
  }

  .pr-btn {
    font-size: 16px;
  }
}

@media screen and (min-width: 992px) {
  .pricing-title {
    margin: 0 auto;
  }

  .price-categories {
    display: inline-flex;
    align-items: baseline;
  }

  .price-free {
    line-height: 220px;
  }

  .pr-box {
    height: 540px;
    margin: 1em 2em 0;
  }

  .pr-box ul {
    list-style: none;
    line-height: 48px;
    margin-top: 40px;
    padding: 0;
  }

  .beginner h3, .explorer h3, .professional h3 {
    font-weight: 300;
    margin: 20px 0 0;
  }

  .beginner p {
    font-size: 16px;
    color: #2DCFF0;
    margin-top: 20px;
  }

  .explorer p {
    font-size: 16px;
    color: #4C85FF;
    margin-top: 20px;
  }

  .professional p {
    font-size: 16px;
    color: #5E44BC;
    margin-top: 20px;
  }

  .price-free, .price-paid {
    font-size: 36px;
    font-weight: 500;
  }

  .price-free, .price-paid {
    line-height: 220px;
  }

  .price-paid {
    line-height: 120px;
  }

  .pr-btn {
    font-size: 18px;
  }
}


/*FOOTER*/
.footer {
  height: auto;
  color: #50596B;
}

.footer-logo h5, .company h5, .follow-us h5, .support h5 {
  margin: 0 0 20px;
}

.footer-logo ul, .company ul, .follow-us ul, .support ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

@media screen and (min-width: 768px) {
  .footer-content {
    display: flex;
    max-width: 900px;
    margin: auto;
  }
}

@media screen and (max-width: 991px) {
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .footer-logo ul, .company ul, .follow-us ul, .support ul {
    line-height: 26px;
  }

  .footer-logo {
    text-align: center;
    margin-bottom: 50px;
  }

  .company {
    text-align: center;
    padding: 0 0 50px;
  }

  .follow-us {
    text-align: center;
    padding: 0 0 50px;
  }

  .support{
    text-align: center;
    padding: 0;
  }
}

@media screen and (min-width: 992px) {
  .footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .footer-content {
    display: flex;
    max-width: 900px;
    margin: auto;
  }

  .footer-logo ul, .company ul, .follow-us ul, .support ul {
    line-height: 32px;
  }

  .footer-logo {
    text-align: right;
    margin: 0 50px;
  }

  .company {
    margin: 0 0 0 50px;
  }

  .follow-us {
    margin: 0 0 0 50px;
  }

  .support {
    margin: 0 0 0 50px;
  }
}
